---
import Code from '@shortcodes/Code.astro'

interface Props {
  name: string
}

const { name } = Astro.props
---

<p>
  El descarte se puede lograr con el atributo <code>data-bs-dismiss</code> en un botón <strong>dentro del {name}</strong> como se demuestra a continuación:
</p>

<Code
  code={`<button type="button" class="btn-close" data-bs-dismiss="${name}" aria-label="Close"></button>`}
  lang="html"
/>

<p>
  o en un botón <strong>fuera del {name}</strong> utilizando el <code>data-bs-target</code> adicional como se demuestra a continuación:
</p>

<Code
  code={`<button type="button" class="btn-close" data-bs-dismiss="${name}" data-bs-target="#my-${name}" aria-label="Close"></button>`}
  lang="html"
/>
