---
import fs from 'node:fs'
import { getConfig } from '@libs/config'
import Code from '@shortcodes/Code.astro'

// Imprime todo lo que se encuentra entre los comentarios
// `// scss-docs-start "name"` y `// scss-docs-end "name"` en la documentación.

interface Props {
  /**
   * Nombre de referencia utilizado para buscar el contenido a mostrar dentro del contenido de la propiedad `file`.
   */
  name: string
  /**
   * Ruta del archivo que contiene el contenido a mostrar relativa a la raíz del repositorio.
   */
  file: string
}

const { name, file } = Astro.props

if (!name || !file) {
  throw new Error(
    `Faltan parámetros requeridos para el componente '<ScssDocs />', se esperaba tanto 'name' como 'file' pero se obtuvo 'name: ${name}' y 'file: ${file}'.`
  )
}

let content: string

try {
  const fileContent = fs.readFileSync(file, 'utf8')

  const matches = fileContent.match(
    new RegExp(`\/\/ scss-docs-start ${name}\n((?:.|\n)*)\/\/ scss-docs-end ${name}`, 'm')
  )

  if (!matches || !matches[1]) {
    throw new Error(
      `No se pudo encontrar el contenido denominado '${name}', asegúrate de que '// scss-docs-start ${name}' y '// scss-docs-end ${name}' estén definidos.`
    )
  }

  content = matches[1].replaceAll(' !default', '')

  // Corregir la sangría eliminando espacios adicionales al principio de cada línea
  const lines = content.split('\n')
  const spaceCounts = lines.filter((line) => line.trim().length > 0).map((line) => line.match(/^ */)[0].length)
  const minSpaces = spaceCounts.length ? Math.min(...spaceCounts) : 0
  content = lines.map((line) => line.slice(minSpaces)).join('\n')
} catch (error) {
  throw new Error(`No se pudo encontrar el contenido para renderizar en el componente '<ScssDocs />' en '${file}'.`, {
    cause: error
  })
}
---

<Code containerClass="bd-example-snippet bd-file-ref" code={content} lang="scss">
  <div slot="pre" class="d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-bottom">
    <a
      class="font-monospace link-secondary link-underline-secondary link-underline-opacity-0 link-underline-opacity-100-hover small"
      href={`${getConfig().repo}/blob/v${getConfig().current_version}/${file}`.replaceAll('\\', '/')}
    >
      {file}
    </a>
    <div class="d-flex ms-auto">
      <button type="button" class="btn-clipboard mt-0 me-0" title="Copiar al portapapeles">
        <svg class="bi" aria-hidden="true"><use xlink:href="#clipboard"></use></svg>
      </button>
    </div>
  </div>
</Code>
