---
import Code from '@shortcodes/Code.astro'
import Example from '@shortcodes/Example.astro'
import * as tableContent from '@shortcodes/TableContent.md'

interface Props {
  /**
   * Cualquier clase a añadir al elemento `<table>` (tanto en el ejemplo como en el fragmento de código).
   */
  class?: string
  /**
   * Muestra una versión simplificada en el fragmento de código de ejemplo reemplazando el contenido de la tabla dentro de `<table>` y `</table>`
   * con `...`.
   * @default true
   */
  simplified?: boolean
}

const { class: className, simplified = true } = Astro.props

const tableCode = `<table${className ? ` class="${className}"` : ''}>
${simplified ? '  ...' : await tableContent.compiledContent()}
</table>`

const exampleCode = `<table${className ? ` class="${className}"` : ''}>
${await tableContent.compiledContent()}
</table>`
---

<Example showMarkup={false} code={exampleCode} />

<Code code={tableCode} lang="html" />
