---
import type { CollectionEntry } from 'astro:content'
import { getConfig } from '@libs/config'
import type { Layout, LayoutOverridesHTMLAttributes } from '@libs/layout'
import Head from '@components/head/Head.astro'
import Header from '@components/header/Header.astro'
import Scripts from '@components/Scripts.astro'
import Footer from '@components/footer/Footer.astro'
import { stripMarkdown } from '@libs/utils'

// Las siguientes propiedades se pueden pasar directamente al componente de diseño base desde cualquier página o diseño que lo extienda,
// por ejemplo, <BaseLayout layout="docs" robots="noindex" />.
type Props = {
  // Un diseño específico para usar en la página actual utilizado para determinar si algunos componentes deben renderizarse o no.
  // Los diseños disponibles se definen en `src/libs/layout.ts`.
  layout?: Layout
  // Un objeto que contiene atributos HTML que se pueden anular para algunos elementos HTML utilizados en el diseño base con clave por
  // nombres de elementos HTML.
  overrides?: {
    body?: LayoutOverridesHTMLAttributes<'body'>
    // Ten en cuenta que main también se puede anular con el slot de Astro llamado "main" y que el slot tendrá prioridad sobre
    // cualquier anulación.
    main?: LayoutOverridesHTMLAttributes<'main'>
  }
  // Una cadena que contiene el contenido de la etiqueta meta de robots. Si no se establece, la etiqueta no se renderizará.
  robots?: string
  // Una anulación para el título de la página. Si no se define, el título será el contenido de la propiedad frontmatter `title`
  // al renderizar una página markdown o volverá de forma predeterminada al definido en el archivo `config.yml`.
  title?: string
  // Indica si se deben deshabilitar los anuncios en la página actual.
  disableAds?: boolean
} & MarkdownProps

// Las siguientes propiedades las establece automáticamente Astro (si se definen) en función del frontmatter de markdown al renderizar
// una página markdown. Se puede acceder a ellas a través del objeto `Astro.props.frontmatter`, pero ten en cuenta que no se establecerán cuando
// no se renderice una página markdown.
type MarkdownProps = {
  frontmatter?: Partial<
    CollectionEntry<'docs'>['data'] & {
      disableAds?: boolean
    }
  >
}

const { frontmatter, layout, overrides, robots } = Astro.props
const disableAds = Astro.props.disableAds ?? frontmatter?.disableAds ?? false

const title = Astro.props.title ?? frontmatter?.title ?? getConfig().title
const description = frontmatter?.description ? stripMarkdown(frontmatter.description) : getConfig().description
const thumbnail = frontmatter?.thumbnail ? `img/${frontmatter.thumbnail}` : 'brand/bootstrap-social.png'

const bodyProps = overrides?.body ?? {}
const mainProps = overrides?.main ?? {}

const adsUrl = import.meta.env.DEV
  ? 'http://localhost:8787/ads.js'
  : 'https://static-ads.xeost.com/ads.js'
---

<!DOCTYPE html>
<html lang="es" data-bs-theme="auto">
  <head>
    <Head
      description={description}
      direction={frontmatter?.direction}
      layout={layout}
      robots={robots}
      thumbnail={thumbnail}
      title={title}
    />
    {!disableAds && (
      <script is:inline src={adsUrl} async></script>
    )}
  </head>
  <body {...bodyProps}>
    <Header layout={layout} title={title} addedIn={frontmatter?.added} />

    {
      Astro.slots.has('main') ? (
        <slot name="main" />
      ) : (
        <main {...mainProps}>
          <slot />
        </main>
      )
    }

    <Footer />

    <Scripts layout={layout} />

    {frontmatter?.extra_js && frontmatter.extra_js.map((js) => <script is:inline async={js.async} src={js.src} />)}

    {
      layout === 'docs' && (
        <div class="position-fixed" aria-hidden="true">
          <input type="text" tabindex="-1" />
        </div>
      )
    }
  </body>
</html>
